
.right {
    height: 18px;
    width: 16px;
    background: #D21011;
    border-bottom-left-radius: 10px;
    border-top-left-radius:  10px;
}

#two {
    background-color: #04B5FF;
}
#three {
    background-color: yellow;
}